html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    background: linear-gradient(#060000 ,rgb(114, 0, 0));
    color: white;
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#flexbox-container{
    display: flex;
    justify-content:space-evenly;

}
#flexbox-container :is(div,span){
   margin-top: 5%;

}

.player-div{
    display: flex;
    flex-direction: column;
    justify-content:center;

}

.player-name{

font-size: 2.7rem;
font-weight: bold;
}
.ken{
color: red;
margin-left: 25%;
   
}
.ryu{
    
    margin-left: 25%;
       
    }
.player-body{
    height: 150px;
    margin-top: 8%;
}
.ryu-body{
    transform: rotateY(180deg);
}

.keybind-container{
    display: flex;
    justify-content: center;
    gap:10%;
    position: relative;
    width: 100%;
    height: 45px;
}

.attack-button{
    display: flex;
    justify-content: space-between;
}
.hit {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    border: white solid 1.5px;
}
.stomp{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
    border: white solid 1.5px;
}
.keybind{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;

}
.first-keybind{
left: 10%;
    
}
.second-keybind{
    right: 20%;
}
@media screen and (max-width: 400px) {
 
    .player-body{
        height: 120px;
    }
    .m{
        font-size: 2rem;
    }

} 
.health-bar{
    width: 150px;
    
    height: 35px;
    border-radius: 50px;
    background: linear-gradient(90deg,#046c04 ,rgb(21, 255, 0));
    display: flex;
    justify-content: center;
}
#health-number1{
font-weight: bold;
}
#health-number2{
    font-weight: bold;
}
#www{
    display: block;
    font-size: 3rem;
}

